[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=trey tint2
Comment=
Exec=tint2 -c /home/mxn/.config/tint2/hide_tray.tint2rc
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

