[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=блюр
Comment=
Exec=picom --experimental-backends --backend glx
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

