[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mxn/Рабочий стол/акк али кулон]
row=0
col=3

[/home/mxn/Рабочий стол/creio dots master .config-tint2.zip]
row=2
col=0

[/home/mxn/Рабочий стол/акк бт адаптера]
row=0
col=2

[/home/mxn/Рабочий стол/launchy.tint2rc]
row=1
col=0

[/home/mxn/Рабочий стол/text]
row=0
col=1

[/home/mxn/Рабочий стол/Всё]
row=0
col=0

