[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mxn/Рабочий стол/orig]
row=2
col=0

[/home/mxn/Рабочий стол/Всё]
row=0
col=0

[/home/mxn/Рабочий стол/adb_run]
row=0
col=1

[/home/mxn/Рабочий стол/xenlism-grub-arch-1080p.tar.xz]
row=1
col=0

[/home/mxn/Рабочий стол/icons]
row=3
col=0

[/home/mxn/Рабочий стол/Google_Sans_Regular.ttf]
row=0
col=3

[/home/mxn/Рабочий стол/ventoy.json]
row=0
col=2

