[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mxn/Рабочий стол/монтирование]
row=0
col=2

[/home/mxn/Рабочий стол/мак.layout.latte]
row=0
col=1

[/home/mxn/Рабочий стол/комбо]
row=2
col=0

[/home/mxn/Рабочий стол/Chlf_L6L0eM.jpg]
row=3
col=0

[/home/mxn/Рабочий стол/стримы.sh]
row=1
col=1

[/home/mxn/Рабочий стол/Полезные сочетания клавиш KDE]
row=1
col=0

[/home/mxn/Рабочий стол/Всё]
row=0
col=0

[Корзина]
row=4
col=0

[/home/mxn]
row=5
col=0

