[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mxn/Рабочий стол/Всё]
row=0
col=0

[/home/mxn/Рабочий стол/text]
row=1
col=0

[/home/mxn/Рабочий стол/2020-07-23_22-12.png]
row=2
col=0

