[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mxn/Рабочий стол/salary.pdf]
row=1
col=0

[/home/mxn/Рабочий стол/Новый каталог]
row=11
col=0

[/home/mxn/Рабочий стол/backup]
row=2
col=0

[/home/mxn/Рабочий стол/creio dots master .config-polybar.zip]
row=4
col=0

[/home/mxn/Рабочий стол/distr_4.3]
row=3
col=0

[/home/mxn/Рабочий стол/Всё]
row=0
col=0

